
  <div class="container">
    <h1><%= link_to image_tag("/images/gef_logo.png"), new_gef_search_path %>Protected Area Database</h1>
  </div>

<div class="col-xs-9" id="csv-link">
  <a href='/gef/gef_full_database.csv'>Download All Areas in CSV format</a><br />
</div>

<h1>Advanced Search</h1>

<%= render 'form' %>
