<div class="assessment-info">
  <p>
    <i class="fa fa-info-circle"></i>
    <span class="subtitle"> The full description of the methodology used for this assessment can be downloaded here: </span>
    <span> <%= link_to text, document_link %> </span>
  </p>
</div>
