<div class="fifty right">
  <h2> Expected species turnover </h2>
  <p class="subtitle"> According to Species Distribution Models (SDMs) </p>
  <div class="line medium"></div>
  <p class="subsubtitle">
    Percentage of species turnover: Median (95% Confidence Interval) <%= info_icon "percentage_turnover" %>
  </p>
  <%= render "turnover_table" %>
</div>
