<div class="turnover-box">
  <ul class="percentages">
    <li><%= turnover.percentage(:lower) %>%</li>
    <li class="median-value"><%= turnover.percentage(:median) %>%</li>
    <li><%= turnover.percentage(:upper) %>%</li>
  </ul>
</div>
