<div class="turnover-box">
  <ul class="first-row">
    <li class="subsubtitle">MEDIAN</li>
    <li class="median-value">50.0%</li>
  </ul>
  <ul class="second-row">
    <li><span class="subsubtitle">Upper</span> <span>50.0%</span> <i class="fa fa-arrow-circle-up"></i></li>
    <li><span class="subsubtitle">Lower</span> <span>50.0%</span> <i class="fa fa-arrow-circle-down"></i></li>
  </ul>
</div>
