<div class="species-table-container">

  <table class="vulnerable-species-table">
    <thead>
      <th class="headcol">Name</th>
      <th>Order</th>
      <th>Exposure by 2025 by 2050</th>
      <th>IUCN Red List category</th>
      <th>Current percentage overlap with PA</th>
      <th>Biological trait(s) making species sensitive to climate change</th>
      <th>Another column</th>
    </thead>
    <tbody>
        <tr>
          <td class="headcol">SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text</td>
        </tr>
    </tbody>
  </table>
</div>
