<div class="species-table-container">
  <!-- <div class="headcol">
    <table class="headcol-table">
      <thead>
        <th>Name</th>
      </thead>
      <tbody>
        <tr>
          <td>SPECIES NAME</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="data">
    <table class="data-table">
      <thead>
        <th>Order</th>
        <th>Exposure by 2025 by 2050</th>
        <th>IUCN Red List category</th>
        <th>Current percentage overlap with PA</th>
        <th>Biological trait(s) making species sensitive to climate change</th>
        <th>Another column</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text long long long long long long long long long long long long long long long long long text </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <table class="vulnerable-species-table stripe order-column" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Exposure by 2025 by 2050</th>
        <th>IUCN Red List category</th>
        <th>Current percentage overlap with PA</th>
        <th>Biological trait(s) making species sensitive to climate change</th>
        <th>Another column</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
        <tr>
          <td>SOMETHING IMPORTANT</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Some other text very long long long long long long long long long long</td>
        </tr>
    </tbody>
  </table>
</div>
