<div class="section">
  <a href="<%= protected_planet_path(:protected_area)[@protected_area.wdpa_id] %>">
    < Return to Official Record for <strong><%= @protected_area.name %></strong>
  </a>
</div>

<div class="section">
  <h1> Climate change vulnerability assessments </h1>
  <div class="line"></div>

  <div class="pa-card">
    <div id="map"></div>
    <div class="factsheet">
      <div class="pa-name">
        <p class="column-name">Name</p>
        <h3 class="column-value"><%= @protected_area.name %></h3>
      </div>
      <ul class="other-info">
        <li><p class="column-name">WDPA ID</p><h3 class="column-value"><%= @protected_area.wdpa_id %></h3></li>
        <li><p class="column-name">Country</p><h3 class="column-value"><%= @protected_area.iso_3 %></h3></li>
        <li><p class="column-name">IUCN category</p><h3 class="column-value"><%= @protected_area.iucn_cat %></h3></li>
      </ul>
    </div>
  </div>
</div>
