@import 'colors';

$footer-height: 150px;

footer {

  div.parcc-footer {
    background-color: $light-grey;
    p {
      color: black;
    }
  }

  div {
    height: $footer-height / 2;
  }

  width: 100%;
  line-height: $footer-height / 2;

  padding: 0, 20px;
  margin: 0px auto;

  font-family: MuseoSans-100;
  background: $color--footer-bg;
  font-size: 0.938em;

  p { color: $color--footer; }

  a {
    line-height: $footer-height / 2;
    display: block;
    height: 100%;

    &, &:visited {
      color: $color--footer-link;
    }

    &:hover {
      text-decoration: underline;
    }

    margin-right: 20px;
    &:last-child { margin-right: 0px; }
  }

}

.footer-logos {
  margin: 0 20px;
}

.footer-copyright, .footer-logos, .footer-links {
  li {
    float: left;
  }
}

.footer-copyright, .footer-logos { float: left; }

.footer-copyright {
  padding: 0 20px;
}

.footer-links {
  li {
    padding: 0 20px;
  }
  float: right;
}

footer, .container:after {
  height: $footer-height;
}

/* FOOTER LOGOS */

.wcmc-footer-logo {
  width: 90px;
  height: $footer-height / 2;
  background: image-url('parcc/wcmc-footer-logo@2x.png') no-repeat;
  background-size: auto 50%;
  background-position: 10px;
}

.iucn-footer-logo {
  width: 60px;
  height: $footer-height / 2;
  background: image-url('parcc/iucn-footer-logo@2x.png') no-repeat;
  background-size: auto 50%;
  background-position: 10px;
}

.parcc-footer-logo {
  width: 90px;
  height: $footer-height / 2;
  background: image-url('parcc/parcc_logo_footer.png') no-repeat;
  background-size: auto 50%;
  background-position: 5px;
}

.gef-footer-logo {
  width: 90px;
  height: $footer-height / 2;
  background: image-url('parcc/gef_logo_footer.png') no-repeat;
  background-size: auto 50%;
  background-position: 0px;
}

.uservoice {
  background-color: $dark-green;
  margin-left: 10px;

  &:hover {
    background-color: $green;
    a { text-decoration: none; }
  }
}
