@import 'colors';

.main-container {
  max-width: 1060px;
  min-width: 890px;
  margin: auto;
}

section {
  margin-top: 35px;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: $color--header-font;
}

h2 {
  font-size: 20px;
  font-family: "MuseoSans-500";
  color: $dark-grey;
}

.subtitle {
  margin-top: 10px;
  font-family: "MuseoSans-300";
  color: $medium-grey;
}

.subsubtitle {
  color: $medium-grey;
}

.line {
  margin: 20px 0 25px 0;
  border-bottom: solid 1px;
  border-color: $color--line-border-bottom;
  height: 0;
  &.medium {
    border-color: $color--line-border-bottom-medium;
  }
}

.pa-card {
  height: 335px;
  width: 100%;

  > div { height: 100%; }
  .factsheet {
    position: relative;
    background-color: $color--factsheet-background;
    padding: 20px;
    box-sizing: border-box;
    .pa-name {
      padding-bottom: 40px;
    }
    .pa-info > li{
      float:left;
      &:not(:first-child) {
        padding-left: 35px;
      }
    }
    .other-info {
      word-wrap: break-word;
      position: absolute;
      bottom: 10px;
      .info {
        font-size: 16px;
        line-height: 1.3;
        strong {
          color: white;
        }
        i {
          font-size: 22px;
        }
      }
    }
    .column-name {
      padding-bottom: 10px;
      font-size: 18px;
    }
    .column-value {
      font-family: "MuseoSans-500";
      font-size: 26px;
    }
    .column-name, .column-value, .info{
      color: $color--pa-info-column;
    }
  }
}

section div.left {
  float: left;
  width: 540px;
}

section div.right {
  float: left;
  width: 520px;
}

section.tva-sdm {
  height: 380px;
  .left {
    padding-right: 25px;
    box-sizing: border-box;
  }
}

.tva-values {
  width: 65%;
  li {
    margin-bottom: 20px;
    span {
      font-size: 14px;
      font-family: "MuseoSans-300";
      &.right-value { float: right; }
    }
  }
}

.percentage-bar {
  margin: 35px 0 15px 0;
  background-color: $light-grey;
  height: 35px;
  .percentage {
    height: 100%;
    background-color: $color--vulnerability-percentage;
  }
}

.turnover-table {
  margin-top: 15px;
  tr:first-child {
    height: 10px;
  }
  th:first-child, td:first-child {
    width: 100px;
  }
  td:first-child {
    border-right: solid 1px;
    border-color: $color--line-border-bottom-medium;
    font-family: "MuseoSans-300";
  }
  th:not(:first-child):not(:nth-child(2)){
    border-bottom: solid 1px;
    border-color: $color--line-border-bottom-medium;
  }
  th:nth-child(2), td:nth-child(2) {
    width: 10px;
  }
  td {
    vertical-align: middle;
    height: 70px;
    width: 200px;
    .turnover-box {
      background-color: $color--turnover-box-background;
      width: 195px;
      height: 60px;
    }
  }
  th {
    font-family: "MuseoSans-300";
    width: 200px;
    padding-bottom: 10px;
  }
  .first-row, .second-row {
    display: inline-block;
    padding: 11px 9px;

    li {
      font-size: 14px;
      &.median-value {
        font-size: 16px;
        font-family: "MuseoSans-300";
        text-align: center;
      }
      &:not(:first-child) {
        padding-top: 5px;
      }
      i.fa {
        font-size: 16px;
        color: lightgrey;
      }
    }
  }
}

//fights the reset.css file fixing alignment in datatables
.vulnerable-species-table {
  th {
    vertical-align: middle;
  }
  .fa-info-circle {
      color: $green;
  }
  .exposure {
    vertical-align: middle;
    padding: 0px 30px;
    height: 0;
    i, div {
      float: left;
      color: $medium-grey;
      font-size: 18px;
    }
    div.vertical-line {
      border-left: solid 1px;
      border-color: $grey;
      height: 100%;
    }
    .left-check {
      padding-right: 25px;
    }
    .right-check {
      padding-left: 25px;
    }
    .left-check, .right-check {
      padding-top: 10%;
    }
    .no-icon {
      width: 18px;
    }
  }
  .iucn-cat, .overlap-with-pa{
    text-align: center;
  }
  .trait ul {
    list-style: disc;
  }
}
