@import 'colors';

.main-container {
  max-width: 1060px;
  min-width: 890px;
  margin: auto;
}

.section {
  margin-top: 35px;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: $color--header-font;
}

.line {
  margin: 20px 0 25px 0;
  border-bottom: solid 1px;
  border-color: $color--line-border-bottom;
}

.pa-card {
  height: 335px;
  width: 100%;

  div { float: left; height: 100%; }
  #map { width: 540px; }
  .factsheet { width: 520px; }
}
