$dark-grey: #353946;
$medium-grey: rgb(113, 124, 151);
$grey: #c8c8c8;
$light-grey: #f7f7f7;
$medium-light-grey: #ededed;

$dark-blue: rgb(43,49,70);
$grey-blue: #848184;
$blue: #317fce;

$dark-green: #759935;
$green: #83ad35;
$gef-green: #07683b;

$white: rgb(255,255,255);

$color--nav-bg: $green;
$color--nav-active-link: $dark-green;
$color--nav-link: $gef-green;
$color--nav-hover-link: $dark-green;
$color--nav-border: $light-grey;

$color--footer-bg: $dark-blue;
$color--footer: $light-grey;
$color--footer-link: $light-grey;

$color--input-bg: $light-grey;
$color--input-text: $dark-grey;
