<main class="protected-areas">

  <div class="container">
    <h1><img src="/images/gef_logo.png" /> Protected Planet Tool</h1>
  </div>

  <div class="col-xs-9">
    <h2>WDPA ID #<%= @pame_assessments.first.wdpa_id %></h2>
  </div>

  <div class="col-xs-6">
    <h3>Assessments List </h3>
    <table class="table-condensed">
     <tr class="text-center">
        <th>Assessment Year</td>
        <th>Assessment Type</td>
        <th>METT Page</td>
      </tr>
      <% @pame_assessments.each do |assessment| %>
      <tr class="text-center">
        <td><%= assessment.assessment_year %></td>
        <td><%= assessment.assessment_type %></td>
        <td><%= link_to assessment.mett_original_uid, pame_record_path(@pame_assessments.first.gef_area.gef_pmis_id, @pame_assessments.first.wdpa_id, assessment.mett_original_uid) %></td>
      </tr>
    <% end %>
 </div>
</main>